{% extends 'base.html.twig' %}

{% block title %}Key Value Edit{% endblock %}

{% block body %}
    <a href="{{ path('keyvalue_main') }}" style="color:black; text-decoration:none;"><button>Go Back</button></a>
    {{ form(KeyValueForm) }}
{% endblock %}